@font-face {
    font-family: "JBMonoNF";
    src: url("https://codehs.com/uploads/5ed921fe6aaa521ab4971d92e3a69f77")
    /* I KNOW THIS USES A CODEHS LINK, BUT IT WORKS AND IDK HOW TO GET IT TO WORK OTHERWISE >:(((( */
}

html, body {
    height: 100%;
    margin: 0;
}


.thingy {
    background-image: linear-gradient(rgba(36, 39, 58,1), rgba(0,0,0,0));
    min-height: 30px;
}

/* Scrollbar Styling because im procrastinating on the project */
::-webkit-scrollbar {
    width: 0px;

}


body {
    background-image: url(objects/forest-rain-gradient.png);
    background-size: cover 1;
    background-repeat: no-repeat;
    background-position: top;
    font-family: JBMonoNF;
    background-color: #24273a;
    display: flex;
    flex: 1;
    flex-direction: column;


}


/* General Code */

footer {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 50px;
}

.vl {
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 30px;
    
}

/* Navigation Bar Code */

nav {
    display: flex;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    width: 500px;
    border-radius: 12px;
    height: 30px;
    font-size: 20px;
}

.navigation {
    text-decoration: none;
    color: #e6e6e6;
    border-radius: 10px;
    transition: background-color 0.5s, padding 0.5s;
}


nav a {
    float: center;
    margin: 0 15px 0 15px;
    width: 33%;
    text-align: center;
}



nav a:hover {
    background-color: rgba(0,0,0,0.5);
}


/* Home Page Code */

.greeter {
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 200px !important;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    width: 75%;
    max-width: 750px;
    margin-bottom: 30px;
    
}    

.glass-box {
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 150px;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    width: 75%;
    max-width: 750px;
    margin-bottom: 30px;
}




#cat {
    width: 250px;
    border-radius: 10px;
}

#about-objects {
    padding-bottom: 10px;
}


#info {
    text-align: left;
    padding: 0 20px 0 0px;
    width: 300px;
    display: inline-block;
}





.more {
    background-color: rgb(36, 39, 58);
    color: white;
    height: 500px;;
    row-gap: 0px;
}







.featured-div {
    margin-top: 100px;
}

.featured {
    display: flex;
    margin: auto;
    min-width: 500px; 
    height: 200px;;
}

#featured-project-image {
    width: 250px;
    height: 158px;
    padding: 0px 5px 10px 30px;
    border-radius: 10px;
}

#featured-project-text {
    text-align: jutify;
    width: 300px;
    width: 400px;
    display: inline-block;
}





/* Project Page Code */


#project-main{
    margin-bottom: 175px !important;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




#project-1 img {
    width: 300px;
    padding-bottom: 10px;
    padding-right: 10px;;
}

#project-1 p {
    display: inline-block;
    text-align: left;
    width: 300px;
}





#project-image-2 {
    height: 300px;
}